
{% assign projectTags = site.data.tags.allowed-tags | sort_natural %}

{% assign last_idx = projectTags.size | minus: 1 %}

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="tag-all" checked>
    <label class="form-check-label" for="tag-all">
        Show all
    </label>
</div>

<div class="well">

<div id="tag-list">
{% for idx in (0..last_idx) %}
{% assign tag = projectTags[idx] %}
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="tag-{{ idx }}" value="{{ tag }}" checked>
    <label class="form-check-label" for="tag-{{ idx }}">
        {{ tag | replace: "_", " " }}
    </label>
</div>
{% endfor %}
</div>

</div>

{% for page in site.pages %}
{% if page.tags.size > 0 %}
{% if page.search == true %}
<div class="tag-page" data-tags="{{ page.tags | join: ',' }}">
    <a href="{{ page.url }}">{{ page.title }}</a>
    {% for tag in page.tags %}
        <div class="alert alert-info alert-badge">{{ tag | replace: "_", " " }}</div>
    {% endfor %}
</div>
{% endif %}
{% endif %}

{% endfor %}

<script>
    $(function() {
        var tagQueryStringRegex = /\btags=([^?&]*)/;

        var $checkboxes = $('#tag-list input[type=checkbox]');
        var $checkboxAll = $('#tag-all');

        var m = window.location.search.match(tagQueryStringRegex);
        var queryStringTags = m && m[1].split(',');

        if (queryStringTags) {
            $checkboxes.each(function(idx, el) { el.checked = queryStringTags.indexOf(el.value) !== -1 });

            handleCheckboxChange();
        }

        function showFiltered(tags) {
            $('[data-tags]').each(function (idx, el) {
                var hide = !el.dataset.tags.split(',').some(function (tag) { return tags.indexOf(tag) !== -1 });

                if (hide) {
                    el.hidden = true;
                    el.classList.add('hidden');
                } else {
                    el.hidden = false;
                    el.classList.remove('hidden');
                }
            });
        }

        function replaceQueryString(newQueryString) {
            if (window.history && window.history.replaceState) {
                if (newQueryString === '?') {
                    newQueryString = '';
                }

                window.history.replaceState({}, '', window.location.origin + window.location.pathname + newQueryString);
            }
        }

        function updateQueryString(tags) {
            var tagQueryParam = $checkboxAll.prop('checked') ? '' : 'tags=' + tags.join(',');

            if (!window.location.search) {
                replaceQueryString('?' + tagQueryParam);
            } else {
                if (tagQueryStringRegex.test(window.location.search)) {
                    replaceQueryString(window.location.search.replace(tagQueryStringRegex, tagQueryParam));
                } else {
                    replaceQueryString(window.location.search + '&' + tagQueryParam);
                }
            }
        }

        function showFilteredByChecked() {
            var tags = $checkboxes.toArray()
                .filter(function(el) { return el.checked })
                .map(function(el) { return el.value });

            showFiltered(tags);

            updateQueryString(tags);
        }

        function handleCheckboxChange() {
            var checkboxes = $checkboxes.toArray();

            var numChecked = checkboxes.filter(function (el) { return el.checked }).length;

            $checkboxAll.prop('checked', numChecked === checkboxes.length);
            $checkboxAll.prop('indeterminate', numChecked > 0 && numChecked < checkboxes.length);

            showFilteredByChecked();
        }

        $checkboxes.on('change', handleCheckboxChange);

        $checkboxAll.on('click', function(e) {
            var someUnchecked = $checkboxes.toArray().some(function (el) { return !el.checked });

            e.currentTarget.checked = someUnchecked;

            $checkboxes.prop(
                'checked',
                someUnchecked
            );

            showFilteredByChecked();
        });
    });
</script>
