<p>The 'create' interaction is performed by an HTTP POST of the <code class="highlighter-rouge">{{include.resource}}</code> resource to the NRL Registry endpoint.</p>

<!--<p>Return a single <code class="highlighter-rouge">{{include.resource}}</code> for the specified id{{include.content}}.</p>-->

<p>All requests MUST contain a valid <code class="highlighter-rouge">Authorization</code> header and MUST contain an <code class="highlighter-rouge">Accept</code> header. The <code class="highlighter-rouge">Accept</code> header indicates the format of the response the client is able to understand, this will be one of the following <code class="highlighter-rouge">application/fhir+json</code> or <code class="highlighter-rouge">application/fhir+xml</code>.</p>

<h3 id="readresponse">1.1. Response</h3>

Assuming successful URL submission, there are several possible responses to the registry request:

<p>A full set of response codes can be found here <a href="profiles_api_codes.html">API Response Codes</a>. FHIR Servers MUST support the following response codes:</p>

<table>
  <tbody>
    <tr>
      <td>201</td>
      <td>record created</td>
       <td>The entry has been successfully created and the NRL returns an HTTP Location header containing the 'server' assigned logical Id of the created resource.</td>
    </tr>
    <tr>
      <td>400</td>
      <td>bad request</td>
       <td>Resource could not be parsed or failed basic FHIR validation rules.</td>
    </tr>
     <tr>
      <td>403</td>
      <td>Forbidden</td>
       <td>The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource, or may need an account of some sort.</td>
    </tr>
    <!--
     <tr>
      <td>404</td>
      <td>resource not found</td>
       <td>Resource type not supported, or not a FHIR end-point.</td>
    </tr>
    -->
    <tr>
      <td>422</td>
      <td>unprocessable entity</td>
      <td>The proposed resource violated applicable FHIR profiles or server business rules.</td>
    </tr>
  </tbody>
</table>
