<h4 id="_id">{{include.para}} _summary</h4>

The search parameter `_summary` allows the client to retrieve the number of DocumentReferences that match a given search.

<p>See <a href="https://www.hl7.org/fhir/search.html#summary">_summary</a> for details on this parameter. The _summary parameter can be used as follows:</p>


<div markdown="span" class="alert alert-success" role="alert">
GET [baseUrl]/{{include.content}}?subject=[reference]&_summary=count</div>


<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET [baseUrl]/{{include.content}}?subject=https://demographics.spineservices.nhs.uk/STU3/Patient/9876543210&_summary=count
</span></code>
Return a count of resources for a patient with a NHS Number of 9876543210</pre>
</div>

The <code class="highlighter-rouge">_summary</code> search parameter must be set to the value 'count' to retrieve the number of matching results.
Other FHIR values for this search parameter are not supported.

<b>Success Response</b>

HTTP response code 200.

Response body SHALL return a valid XML or JSON formatted Bundle of type searchset, containing a bundle that reports the total 
number of resources that match in Bundle.total, but with no entries, and no prev/next/last links. 
Note that the Bundle.total only include the total number of matching DocumentReferences.

<b>Exception Scenarios</b>

<i>_summary value must be count</i><br/><br/>
The _summary parameter must have a value of "count". If it is anything else then the following response should be returned to the client
<table>
<tr>	<td>HTTP response code</td><td>400</td></tr>
<tr>	<td>Response body</td><td>OperationOutcome conforming to the https://fhir.nhs.uk/STU3/StructureDefinition/Spine-OperationOutcome-1 profile</td></tr>
<tr>	<td>OperationOutcome.issue.severity</td><td>error</td></tr>
<tr>	<td>OperationOutcome.issue.code</td><td>invalid</td></tr>
<tr>	<td>OperationOutcome.issue.details.coding.system</td><td>https://fhir.nhs.uk/STU3/CodeSystem/Spine-ErrorOrWarningCode-1</td></tr>
<tr>	<td>OperationOutcome.issue.details.coding.code</td><td>INVALID_PARAMETER</td></tr>
<tr>	<td>OperationOutcome.issue.details.coding.display</td><td>Invalid parameter</td></tr>
<tr>	<td>OperationOutcome.issue.diagnostics</td><td>Unsupported search parameter - _summary=[value]</td></tr>
</table>


<i>invalid combination of search parameters</i><br/><br/>
If the _summary parameter is provided then the only other param that it can be used with it the optional _format param. If any other parameters are provided then the following response should be returned to the client.
<table>
<tr>	<td>HTTP response code</td><td>400</td></tr>
<tr>	<td>Response body</td><td>OperationOutcome conforming to the https://fhir.nhs.uk/STU3/StructureDefinition/Spine-OperationOutcome-1 profile</td></tr>
<tr>	<td>OperationOutcome.issue.severity</td><td>error</td></tr>
<tr>	<td>OperationOutcome.issue.code</td><td>invalid</td></tr>
<tr>	<td>OperationOutcome.issue.details.coding.system</td><td>https://fhir.nhs.uk/STU3/CodeSystem/Spine-ErrorOrWarningCode-1</td></tr>
<tr>	<td>OperationOutcome.issue.details.coding.code</td><td>INVALID_PARAMETER</td></tr>
<tr>	<td>OperationOutcome.issue.details.coding.display</td><td>Invalid parameter</td></tr>
<tr>	<td>OperationOutcome.issue.diagnostics</td><td>Unsupported search parameter - [param key] = [param value]</td></tr>
</table>