<p>All requests MUST contain a valid <code class="highlighter-rouge">Authorization</code> header and MUST contain an <code class="highlighter-rouge">Accept</code> header. The <code class="highlighter-rouge">Accept</code> header indicates the format of the response the client is able to understand, this will be one of the following <code class="highlighter-rouge">application/fhir+json</code> or <code class="highlighter-rouge">application/fhir+xml</code>.</p>

<!--
<p>All requests MUST contain a valid <code class="highlighter-rouge">Authorization</code> header and MUST contain an <code class="highlighter-rouge">Accept</code> header. The <code class="highlighter-rouge">Accept</code> header indicates the format of the response the client is able to understand, this will be one of the following <code class="highlighter-rouge">application/json+fhir</code> or <code class="highlighter-rouge">application/xml+fhir</code>.</p>
-->
